{% macro menuMacro(menu, level) -%}
    {# Set our default level as an integer. #}
    {% set default_level = 1 %}
    <ul class=”menu-level--{{ level|default(default_level) }}”>
        {% for menu_item in menu %}
            {# Check if this is the active item. #}
            {% set active = (menu_item.active) ? ' is-active' : '' %}
            {# Check if this item is in the active trail. #}
            {% set active = active ~ ((menu_item.active_trail) ? ' is-active-trail' : '') %}
            <li class=”menu__item{{ active }}”>
                <a href="{{ menu_item.url }}"  class=”menu__link{{ active }}”>{{ menu_item.text }}</a>
                {% if menu_item.submenu %}
                    {# Since this menu item has a submenu, recall function and increment counter. #}
                    {{ _self.menuMacro(menu_item.submenu, level|default(default_level) + 1) }}
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{%- endmacro %}

<main class="main">
    <!-- internas top header init -->

    <section class="internas-top-header">
        <div class="inner wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-12">
                        <h1 class="title-page">Publicações<span class="sub-title">Apresentações e Congressos</span></h1>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="internas-container">
        <div class="inner wrapper">
            <div class="container-fluid">
                <div class="row quem-somos-content">
                    <!-- quem somos main content init -->
                    <div class="col-md-4 col-xs-12 que-somos-menu-col">
                        {% set items = simplify_menu('menu-lateral-publicacoes') %}
                        {%
                                    set bodyUrl =  path('<current>') 
                                %}
                        <div class="quem-somos-menu" data-url="{{ bodyUrl }}">
                            <ul>
                                {% for menu_item in items.menu_tree %}
                                {%
                                    set activeMenu = ''
                                %}
                                {%
                                    set bodyUrl =  path('<current>') 
                                %}
                                {% if (menu_item.url in bodyUrl) %}
                                    {%
                                        set activeMenu = 'active'
                                    %}
                                {% else %}
                                {% endif %}
                                    {% if menu_item.submenu %}
                                        <li class="drop-down {{ activeMenu }}"><a href="{{ menu_item.url }}"><span>{{ menu_item.text }}</span></a>
                                    {% else %}
                                        <li class="{{ activeMenu }}"><a href="{{ menu_item.url }}"><span>{{ menu_item.text }}</span></a>
                                    {% endif %}
                                    {% if menu_item.submenu %}
                                        {% set subMenuAttribute = "drop-down" %}
                                        <ul>
                                            {% for itemSub in menu_item.submenu %}
                                                {%
                                                set activeMenuSub = ''
                                            %}
                                            {%
                                                set bodyUrlSub =  path('<current>') 
                                            %}
                                            {% if (itemSub.url in bodyUrlSub) %}
                                                {%
                                                    set activeMenuSub = 'active'
                                                %}
                                            {% else %}
                                            {% endif %}
                                            <li class="{{ activeMenuSub }}"><a href="{{ itemSub.url }}"><span>{{ itemSub.text }}</span></a></li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>

                    <div class="col-md-8 col-xs-12 quem-somos-conteudo-col">
                        <div class="header-search publicoes-search">
                            {{ drupal_entity('block','formularioexpostobuscacongressos') }}
                        </div>
                        <div class="row quem-somos-perfis-content">
                            {{ drupal_view('busca','congressos',language_page) }}
                        </div>
                    </div>



                </div>
            </div>
        </div>
    </section>

</main>
