{#
/**
 * @file
 * Default theme implementation for the basic structure of a single Drupal page.
 *
 * Variables:
 * - logged_in: A flag indicating if user is logged in.
 * - root_path: The root path of the current page (e.g., node, admin, user).
 * - node_type: The content type for the current node, if the page is a node.
 * - head_title: List of text elements that make up the head_title variable.
 *   May contain one or more of the following:
 *   - title: The title of the page.
 *   - name: The name of the site.
 *   - slogan: The slogan of the site.
 * - page_top: Initial rendered markup. This should be printed before 'page'.
 * - page: The rendered page markup.
 * - page_bottom: Closing rendered markup. This variable should be printed after
 *   'page'.
 * - db_offline: A flag indicating if the database is offline.
 * - placeholder_token: The token for generating head, css, js and js-bottom
 *   placeholders.
 *
 * @see template_preprocess_html()
 *
 * @ingroup themeable
 */
#} 



{% macro menuMacro(menu, level) -%}
    {# Set our default level as an integer. #}
    {% set default_level = 1 %}

  <ul class=”menu-level--{{ level|default(default_level) }}”>
      {% for menu_item in menu %}
          {# Check if this is the active item. #}
          {% set active = (menu_item.active) ? ' is-active' : '' %}

          {# Check if this item is in the active trail. #}
          {% set active = active ~ ((menu_item.active_trail) ? ' is-active-trail' : '') %}

        <li class=”menu__item{{ active }}”>
          <a href="{{ menu_item.url }}"  class=”menu__link{{ active }}”>{{ menu_item.text }}</a>
            {% if menu_item.submenu %}
                {# Since this menu item has a submenu, recall function and increment counter. #}
                {{ _self.menuMacro(menu_item.submenu, level|default(default_level) + 1) }}
            {% endif %}
        </li>
      {% endfor %}
  </ul>
{%- endmacro %}


{% 
  set bodyUrl =  path('<current>') 
%}

{% 
    set sectionClass = ''
  %}

  {% if  ('/quem-somos' in bodyUrl) %} 

  {% 
    set sectionClass = 'section-quem-somos'
  %}
  
  {% elseif  ('/pesquisa' in bodyUrl) %} 

  {% 
    set sectionClass = 'section-pesquisa'
  %}

  {% elseif  ('/publicacoes' in bodyUrl) %} 

  {% 
    set sectionClass = 'section-publicacoes'
  %}

  {% elseif  ('/download-de-dados' in bodyUrl) or ('/controle-acesso' in bodyUrl) %} 

  {% 
    set sectionClass = 'section-download-de-dados section-transferência-e-dados'
  %}

  {% elseif  ('/difusao-cientifica' in bodyUrl) %} 

  {% 
    set sectionClass = 'section-difusao-cientifica'
  %}

  {% elseif  ('/sistemas-interativos' in bodyUrl) %} 

  {% 
    set sectionClass = 'section-sistemas-interativos'
  %}

  {% else %} 

  {% 
    set sectionClass = 'section-normal'
  %}

   {% endif %}

<!DOCTYPE html>
<html{{ html_attributes }}>
  <head>
    <head-placeholder token="{{ placeholder_token }}">
    <title>{{ head_title|safe_join(' | ') }}</title>
    <css-placeholder token="{{ placeholder_token }}">
    <js-placeholder token="{{ placeholder_token }}">
      <meta property="og:url"           content="http://web.fflch.usp.br/centrodametropole/" />
      <meta property="og:type"          content="website" />
      <meta property="og:title"         content="Centro de Estudos da Metrópole" />
      <meta property="og:description"   content="Centro de Estudos da Metrópole" />
      <meta property="og:image"         content="https://www.your-domain.com/path/image.jpg" />
  </head>
  <body{{ attributes }} class="{{ sectionClass }}">

  <header class="header">
    <div class="header-top-links">
      <div class="inner wrapper">
        <div class="social">
          <ul>
            <li class="icon-facebook">
              <a href="//facebook.com/sharer.php?u=/"><span>facebook</span></a>
            </li>
            <li class="icon-twitter">
              <a href="#"><span>twitter</span></a>
            </li>
            <li class="icon-instagram">
              <a href="#"><span>instagram</span></a>
            </li>
          </ul>
        </div>
        <div class="contact-translate">
          <ul>
            <li class="header-top-btn-contact"><a href="/fale-conosco"><span> {% trans %}Fale Conosco e Imprensa{% endtrans %}</span></a></li>
            <li class="header-top-btn-translate">{{ drupal_entity('block', 'seletordeidioma') }}</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="header-top">
      <div class="inner wrapper">
        <a href="/">
          <h1 class="logo">
            <span class="title">{% trans %}CEM{% endtrans %}</span>
            <span class="sub-title">{% trans %}Centro de Estudos da Metrópole{% endtrans %}</span>
          </h1>
        </a>
        <div class="header-search">
            {{ drupal_entity('block','formularioexpostobuscabusca_geral') }}
        </div>
      </div>
    </div>

    <nav class="header-menu">
        {% set items = simplify_menu('main') %}
      <div class="inner wrapper">
          {# drupal_menu('main') #}
        <ul>
            {% for menu_item in items.menu_tree %}
                {% if menu_item.submenu %}
                  <li class="drop-down" data-menu="{{ menu_item.text|lower|replace({' ':'-','ç':'c','õ':'o','ã':'a','í':'i','ê':'e'}) }}"><a data-js="has-submenu" href="{{ menu_item.url }}"><span>{{ menu_item.text }}</span></a>
                {% else %}
                  <li  data-menu="{{ menu_item.text|lower|replace({' ':'-','ç':'c','õ':'o','ã':'a','í':'i','ê':'e'}) }}"><a href="{{ menu_item.url }}"><span>{{ menu_item.text }}</span></a>
                {% endif %}
                {% if menu_item.submenu %}
                    {% set subMenuAttribute = "drop-down" %}
                  <ul>
                      {% for itemSub in menu_item.submenu %}
                          {% if itemSub.submenu %}
                                <li><a href="{{ itemSub.url }}"><span>{{ itemSub.text }}</span></a></li>
                              {% for itens in itemSub.submenu %}
                                    <li><a href="{{ itens.url }}"><span>{{ itens.text }}</span></a></li>
                              {% endfor %}
                          {% else %}
                            <li><a href="{{ itemSub.url }}"><span>{{ itemSub.text }}</span></a></li>
                          {% endif %}
                      {% endfor %}
                  </ul>
                {% endif %}
              </li>
            {% endfor %}
        </ul>
      </div>
    </nav>

  </header>
    {#
      Keyboard navigation/accessibility link to main content section in
      page.html.twig.
    #}
    <a href="#main-content" class="visually-hidden focusable">
      {{ 'Skip to main content'|t }}
    </a>
    {{ page_top }}
    {{ page }}
    {{ page_bottom }}
    <section class="footer-navigation">
      <div class="inner wrapper">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-8">
              <div class="row footer-nav-infos">
                <div class="col-md-5">
                   {{ drupal_entity('block', 'suporte') }}
                </div>
                <div class="col-md-3">
                  <div class="title">{% trans %}Menu{% endtrans %}</div>
                  <nav class="footer-nav">
                        {{ drupal_menu('footer') }}
                  </nav>
                </div>
                <div class="col-md-3">
                  <div class="title">{% trans %}Páginas{% endtrans %}</div>
                  <nav class="footer-nav">
				   {{ drupal_menu('paginas') }}
                  </nav>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              {{ drupal_entity('block','footerlicense') }}
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="footer-copy">
      <div class="inner wrapper">
          {% trans %}
            <p>©2018 CEM - CENTRO DE ESTUDOS DA METRÓPOLE</p>
          {% endtrans %}
      </div>
    </section>
    <js-bottom-placeholder token="{{ placeholder_token }}">
  </body>
</html>
