{# agenda #}

{## set hierarquia = content['field_hierarquia'][0]['#title'] #}

<main class="main">
    <section class="internas-top-header">
        <div class="inner wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-12">
                        {% if language == 'pt-br' %}
                            <a href="/node/{{ id }}"><h1 class="title-page">Difusão Científica</a><span class="sub-title">{{ label }}</span></h1>
                        {% else %}
                            <a href="/node/{{ id }}"><h1 class="title-page">Scientific Diffusion</a><span class="sub-title">{{ label }}</span></h1>
                        {%  endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- internas container init -->
    <section class="internas-container">
        <div class="inner wrapper">
            <div class="container-fluid">
                <div class="row quem-somos-content">
                    <!-- quem somos main content init -->
                    <div class="col-md-4 col-xs-12 que-somos-menu-col">
                        {% set items = simplify_menu('menu-lateral-difusao') %}
                        <div class="quem-somos-menu difusao-cientifica-menu">
                            {# Iterate menu tree #}
                            <ul>
                                {% for menu_item in items.menu_tree %}
                                    {% if menu_item.submenu %}
                                        <li class="drop-down"><a href="{{ menu_item.url }}"><span>{{ menu_item.text }}</span></a>
                                    {% else %}
                                        <li><a href="{{ menu_item.url }}"><span>{{ menu_item.text }}</span></a>
                                    {% endif %}
                                    {% if menu_item.submenu %}
                                        {% set subMenuAttribute = "drop-down" %}
                                        <ul>
                                            {% for itemSub in menu_item.submenu %}
                                                <li><a href="{{ itemSub.url }}"><span>{{ itemSub.text }}</span></a></li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                        <!-- quem somos menu end -->
                    </div>

                    <div class="col-md-8 col-xs-12 quem-somos-conteudo-col">
                        <!-- calendar wrapper init -->
                        <div class="calendar-wrapper calendar">
                            <!-- calendar nav init -->
                            <div class="calendar-header">
                                <a class="calendar-prev" title="Anterior"><span>{% trans %}Anterior{% endtrans %}</span></a>
                                <a class="calendar-next" title="Próxima"><span>{% trans %}Próxima{% endtrans %}</span></a>
                                <div class="calendar-title">
                                  <span class="calendar-month">{{ agenda_mes_texto }}</span><span class="calendar-year">{{ agenda_ano }}</span>
                                </div>
                            </div>
                            <!-- calendar nav end -->
                            <!-- calendar table init -->
                            <table class="calendar-calendar">
                                <thead>
                                <tr class="day-week-end">
                                    <th class="calendar-day-head">{% trans %}Dom{% endtrans %}</th>
                                    <th class="calendar-day-head">{% trans %}Seg{% endtrans %}</th>
                                    <th class="calendar-day-head">{% trans %}Ter{% endtrans %}</th>
                                    <th class="calendar-day-head">{% trans %}Qua{% endtrans %}</th>
                                    <th class="calendar-day-head">{% trans %}Qui{% endtrans %}</th>
                                    <th class="calendar-day-head">{% trans %}Sex{% endtrans %}</th>
                                    <th class="calendar-day-head">{% trans %}Sáb{% endtrans %}</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr class="calendar-row">
                                    <td class="calendar-day-np"> </td>
                                    <td class="calendar-day-np"> </td>
                                    <td class="calendar-day-np"> </td>
                                    <td class="calendar-day-np"> </td>
                                    <td class="calendar-day-np"> </td>
                                    <td class="dia_atual"><a href="#" data-mes="{{ agenda_mes_numerico }}" id="1">1</a></td>
                                    <td class="dia_nao_atual"><a href="#" data-mes="{{ agenda_mes_numerico }}" id="2">2</a></td>
                                </tr>
                                <tr class="calendar-row">
                                    <td class="dia_nao_atual"><a href="#" data-mes="{{ agenda_mes_numerico }}" id="3" class="status-active">3</a></td>
                                    <td class="dia_nao_atual"><a href="#" data-mes="{{ agenda_mes_numerico }}" id="4" class="status-active-cursos">4</a></td>
                                    <td class="dia_nao_atual"><a href="#" data-mes="{{ agenda_mes_numerico }}" id="5" class="status-active-palestras">5</a></td>
                                    <td class="dia_nao_atual"><a href="#" data-mes="{{ agenda_mes_numerico }}" id="6" class="status-active" class="status-active-eventos">6</a></td>
                                    <td class="dia_nao_atual"><a href="#" data-mes="{{ agenda_mes_numerico }}" id="7" class="status-active-datas">7</a></td>
                                    <td class="dia_nao_atual"><a href="#" data-mes="{{ agenda_mes_numerico }}" id="8">8</a></td>
                                    <td class="dia_nao_atual"><a href="#" data-mes="{{ agenda_mes_numerico }}" id="9">9</a></td>
                                </tr>
                                <tr class="calendar-row">
                                    <td class="dia_nao_atual"><a href="#" data-mes="{{ agenda_mes_numerico }}" id="10">10</a></td>
                                    <td class="dia_nao_atual"><a href="#" data-mes="{{ agenda_mes_numerico }}" id="11">11</a></td>
                                    <td class="dia_nao_atual"><a href="#" data-mes="{{ agenda_mes_numerico }}" id="12">12</a></td>
                                    <td class="dia_nao_atual"><a href="#" data-mes="{{ agenda_mes_numerico }}" id="13">13</a></td>
                                    <td class="dia_nao_atual"><a href="#" data-mes="{{ agenda_mes_numerico }}" id="14">14</a></td>
                                    <td class="dia_nao_atual"><a href="#" data-mes="{{ agenda_mes_numerico }}" id="15">15</a></td>
                                    <td class="dia_nao_atual"><a href="#" data-mes="{{ agenda_mes_numerico }}" id="16">16</a></td>
                                </tr>
                                <tr class="calendar-row">
                                    <td class="dia_nao_atual"><a href="#" data-mes="{{ agenda_mes_numerico }}" id="17">17</a></td>
                                    <td class="dia_nao_atual"><a href="#" data-mes="{{ agenda_mes_numerico }}" id="18">18</a></td>
                                    <td class="dia_nao_atual"><a href="#" data-mes="{{ agenda_mes_numerico }}" id="19">19</a></td>
                                    <td class="dia_nao_atual"><a href="#" data-mes="{{ agenda_mes_numerico }}" id="20">20</a></td>
                                    <td class="dia_nao_atual"><a href="#" data-mes="{{ agenda_mes_numerico }}" id="21">21</a></td>
                                    <td class="dia_nao_atual"><a href="#" data-mes="{{ agenda_mes_numerico }}" id="22">22</a></td>
                                    <td class="dia_nao_atual"><a href="#" data-mes="{{ agenda_mes_numerico }}" id="23">23</a></td>
                                </tr>
                                <tr class="calendar-row">
                                    <td class="dia_nao_atual"><a href="#" data-mes="{{ agenda_mes_numerico }}" id="24">24</a></td>
                                    <td class="dia_nao_atual"><a href="#" data-mes="{{ agenda_mes_numerico }}" id="25">25</a></td>
                                    <td class="dia_nao_atual"><a href="#" data-mes="{{ agenda_mes_numerico }}" id="26">26</a></td>
                                    <td class="dia_nao_atual"><a href="#" data-mes="{{ agenda_mes_numerico }}" id="27">27</a></td>
                                    <td class="dia_nao_atual"><a href="#" data-mes="{{ agenda_mes_numerico }}" id="28">28</a></td>
                                    <td class="dia_nao_atual"><a href="#" data-mes="{{ agenda_mes_numerico }}" id="29">29</a></td>
                                    <td class="dia_nao_atual"><a href="#" data-mes="{{ agenda_mes_numerico }}" id="30">30</a></td>
                                </tr>
                                <tr>
                                    <td class="calendar-day-np"> </td>
                                    <td class="calendar-day-np"> </td>
                                    <td class="calendar-day-np"> </td>
                                    <td class="calendar-day-np"> </td>
                                    <td class="calendar-day-np"> </td>
                                    <td class="calendar-day-np"> </td>
                                    <td class="calendar-day-np"> </td>
                                </tr>
                                </tbody>
                            </table>
                            <!-- calendar table end -->
                            <!-- calendar sorting init -->
                            <div class="sorting">
                                <ul>
                                    <li class="ev-title">{% trans %}CLIQUE PARA VER APENAS:{% endtrans %}</li>
                                    <li><a class="cursos" data-mes="{{ agenda_mes_numerico }}" href="#" id="6">{% trans %}cursos{% endtrans %}</a></li>
                                    <li><a class="palestras" data-mes="{{ agenda_mes_numerico }}" href="#" id="7">{% trans %}palestras{% endtrans %}</a></li>
                                    <li><a class="eventos" data-mes="{{ agenda_mes_numerico }}" href="#" id="5">{% trans %}seminários{% endtrans %}</a></li>
                                    <li><a class="datas comemorativas/feriados" data-mes="{{ agenda_mes_numerico }}" href="#" id="8">{% trans %}oficinas{% endtrans %}</a></li>
                                </ul>
                            </div>
                            <!-- calendar sorting end -->
                            <!-- calendar results init -->
                            <div id="ajax-target">
                                <div class="listagem-resultados">
                                    <div class="col-md-12">
                                        {{ drupal_view('evento','bloco_agenda_mes',language,agenda_ano,agenda_mes_numerico) }}
                                    </div>
                                </div>
                            </div>
                            <!-- calendar results end -->
                        </div>
                        <!-- calendar wrapper end -->
                    </div>

                </div>
            </div>
        </div>
    </section>
</main>