    <main class="main">
        <!-- internas top header init -->
        <section class="internas-top-header">
            <div class="inner wrapper">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="breadcrumb">
                                <a href="/">{% trans %}home{% endtrans %}</a>
                                <a href="/noticias">{% trans %}públicações em destaque{% endtrans %}</a>
                                <a href="#">{{ label }}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- internas top header end -->
		      <!-- internas container init -->
        <section class="internas-container">
            <div class="inner wrapper">
                <div class="container-fluid">
                    <div class="row">
                        <!-- noticia listagem coluna left init -->
                        <div class="col-md-9 col-xs-12">
                            <!-- noticia header init -->
                            <div class="noticia-header">
                                <div class="data">
                                    <span>{{  drupal_field('field_data_de_publicacao','node') }}</span>
                                </div>
                                <div class="infos">
                                    <div class="fb-share-button" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button_count" data-size="small" data-mobile-iframe="true"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Compartilhar</a></div>
                                </div>
                                <div class="social">
                                    <a href="#" class="facebook"><span>Facebook</span></a>
                                    <a href="#" class="twitter"><span>Twitter</span></a>
                                    <a href="#" class="linkedin"><span>linkedin</span></a>
                                </div>
                                <div class="title">
                                    <h1>
                                        {{ label }}
                                    </h1>
                                    <div class="sub-title">
                                        <p>{{ content.field_subtitulo }}</p>
                                    </div>
                                </div>
                                <div class="autor">
                                    {{  drupal_field('field_autor','node') }}
                                </div>
                            </div>
                            <!-- noticia header end -->
                            <!-- noticia conteudo init -->
							<div class="noticia-conteudo">
								{{ drupal_field('body','node') }}
							</div>
                        </div>
						<!-- noticia listagem coluna left end -->
					    <!-- noticia listagem coluna right init -->
							<div class="col-md-3 col-xs-12">
								<div class="side-bar-box agenda">
                                    <div class="header">EVENTOS/AGENDA</div>
                                        <div class="box">
                                        <div class="home-agenda-header">
                                            {% trans %}
                                              <h2>eventos/agenda</h2>
                                            {% endtrans %}
                                        </div>
                                        <div class="box">
                                          <!-- home agenda item init -->
                                          {{ drupal_view('evento','bloco_evento_home',language) }}
                                          <!-- home agenda item end -->
                                            {% trans %}
                                              <a href="#" class="link-more">agenda completa</a>
                                            {% endtrans %}
                                        </div>
                                        </div>
							  </div>
								<!-- side bar agenda end -->

								<div class="side-bar-box recente">
									<div class="header">Publicações Recentes</div>
										<div class="box">
											<!-- side bar noticia recente item init -->
											{{ drupal_view('noticia','bloco_noticia_interna',language) }}
											<!-- side bar noticia recente item end -->
											<a href="#" class="link-more">mais publicações</a>
										</div>
								</div>
								<!-- side bar  noticias recentes end -->
							</div>
						</div>
					</div>
				</div>
        </section>
	</main>
